<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock  %}
    </title>
    <link href="{% static 'assets/img/bsmi_logo_circle_only.png' %}" rel="icon">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Login CSS faqat login page uchun qo‘shiladi -->
     {% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
     {% endblock  %}
     {% block extra_css2 %}
     <link rel="stylesheet" href="{% static 'assets/css/mes.css' %}">
     {% endblock  %}
    {% block extra_css_admin %}
    <link rel="stylesheet" href="{% static 'assets/css/admin.css' %}">
    {% endblock %}

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>
<body>
    {% block header %}
        <header id="header" class="header d-flex align-items-center sticky-top">
            <div class="container position-relative d-flex align-items-center justify-content-around flex-wrap">
                <!-- STATIC bilan logo -->
                <img src="{% static 'assets/img/bsmi_logo_circle_only.png' %}" alt="" class="logo-img d-none d-md-block" loading="lazy">
                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="{% url "home" %}" class="active"><span data-txt="navHome">Bosh sahifa</span><br></a></li>
                        <li><a href="#aplication" data-txt="apliCation" style="color: black;" >Arizlarim</a></li>
                        <li><a href="#news"><span data-txt="navNews">Yangiliklar</span></a></li>
                        <li><a href="#Selections"><span data-txt="navMenu">Tanlovlar</span></a></li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
                <!-- Profil dropdown -->
                <div class="d-flex align-items-center">
                    <div class="dropdown">
                       <img src="{{ post_image.image.url }}" alt="Profil" 
                            class="rounded-circle" style="width:40px; height:40px; object-fit:cover; cursor:pointer;" 
                            id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="{% url "message" %}"><i class="bi bi-envelope"></i> Xabarlar</a></li>
                            <li><a class="dropdown-item" href="{% url "person_data" %}"><i class="bi bi-person"></i> Ma'lumotlarim</a></li>
                            <li><hr class="dropdown-divider"></li>
                            
                            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Log out</a></li>
                        </ul>
                    </div>
                    <div class="lang-switcher d-inline-flex align-items-center">
                        <button class="lang-select btn btn-sm btn-light border me-1 px-2 py-1 d-none d-sm-inline" data-lang="uz" id="lang-uz">UZ</button>
                        <button class="lang-select btn btn-sm btn-light border px-2 py-1 d-none d-sm-inline" data-lang="ru" id="lang-ru">RU</button>
                        <select id="lang-mobile" class="form-select form-select-sm d-inline d-sm-none">
                            <option value="uz">UZ</option>
                            <option value="ru">RU</option>
                        </select>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    {% block content %}{% endblock  %}

    {% block footer %}
        <footer id="footer" class="footer dark-background">
            <div class="container">
                <div class="row gy-3">
                    <div class="col-lg-3 col-md-6 d-flex">
                        <i class="bi bi-telephone icon"></i>
                        <div>
                            <h4 data-txt="footerContactTitle">Contact</h4>
                            <p>
                            <strong data-txt="footerPhone">Phone:</strong> <span data-txt="footerPhoneNumber" style="color: #fff !important;">+1 5589 55488 55</span><br>
                            <strong data-txt="footerTelegram">Telegram:</strong> <span data-txt="footerTelegramUser" style="color: #fff !important;">@grantloyiha</span><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        <div id="preloader"></div>
    {% endblock  %}
    

    <!-- Vendor JS -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main JS Files -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/lang.js' %}"></script>
    <script src="{% static 'assets/js/profil.js' %}"></script>
</body>
</html>
