{% extends "base.html" %}

{% block title %}
Login
{% endblock %}
{% block extra_css2 %}{% endblock  %}
{% block extra_css_admin %}{% endblock %}

{% block header %}{% endblock %}


{% block content %}
  <div class="login-container">
    <h3 class="text-center mb-4">Login</h3>
    <form method="post" action="{% url 'login' %}"  >
      {% csrf_token %} 
      <input type="text"  name='username' class="form-control" placeholder="ID" required>
      <input type="password" name='password' class="form-control" placeholder="Password" required>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
{% endblock %}

{% block footer %}{% endblock %}