{% extends 'base.html' %}

{% block title %}Xabarlar{% endblock  %}
{% block extra_css_admin %}{% endblock %}

{% block extra_css %}{% endblock  %}
{% block content %}
<div class="messages-container">
    <h3 class="mb-4"><i class="bi bi-envelope"></i> Xabarlar</h3>

    {% for message in messages %}
    <div class="message-item">
        <img src="assets/img/profile.jpg" alt="{{ message.sender.username }}" class="avatar">
        <div class="message-content">
            <div class="message-header">
                <span class="sender">{{ message.sender.username }}</span>
                <span class="time">{{ message.sent_at|date:"d M Y, H:i" }}</span>
            </div>
            <div class="text">{{ message.body }}</div>
        </div>
    </div>
    {% empty %}
    <p>Hozircha xabar yo‘q.</p>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}

{% endblock  %}