{% extends 'base.html' %}

{% block title %}
Ma'lumotlarim
{% endblock  %}

{% block extra_css %}{% endblock %}
{% block extra_css2 %}{% endblock  %}
{% block extra_css_admin %}{% endblock %}

{% block content %}



  <div class="profile-container">
    <div class="profile-header">
      <img src="{{ person_data.image.url }}" alt="Profil" class="profile-avatar">
      <div class="profile-info">
        <h4>{{ user.first_name }} {{ user.last_name }}</h4>
       
        <span class="badge bg-success">Faol</span>
      </div>
    </div>
    <dl class="profile-details row">
      <dt class="col-sm-4">Telefon</dt>
      <dd class="col-sm-8">{{person_data.phone}}</dd>
      <dt class="col-sm-4">Tug'ilgan sana</dt>
      <dd class="col-sm-8">{{person_data.birth_date}}</dd>
      <dt class="col-sm-4">O'qish</dt>
      <dd class="col-sm-8">{{person_data.study}}</dd>
      <dt class="col-sm-4">Manzil</dt>
      <dd class="col-sm-8">{{person_data.address}}</dd>
      <dt class="col-sm-4">Passport</dt>
      <dd class="col-sm-8">{{person_data.passport}}</dd>
      <dt class="col-sm-4">Jins</dt>
      <dd class="col-sm-8">{{person_data.gender}}</dd>
    </dl>
  </div>
{% endblock %}

{% block footer %}{% endblock  %}

  
  {% comment %} <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="./assets/js/lang.js"></script>
  <script src="./assets/js/profil.js"></script> {% endcomment %}

