{% extends 'base.html' %}

{% block title %}
Ma'lumotlarim
{% endblock  %}

{% block extra_css %}{% endblock %}
{% block extra_css2 %}{% endblock  %}

{% block content %}



  <div class="profile-container">
    <div class="profile-header">
      <img src="assets/img/profile.jpg" alt="Profil" class="profile-avatar">
      <div class="profile-info">
        <h4>Ism Familiya</h4>
        <div class="email"><i class="bi bi-envelope"></i> user@email.com</div>
        <span class="badge bg-success">Faol</span>
      </div>
    </div>
    <dl class="profile-details row">
      <dt class="col-sm-4">Telefon</dt>
      <dd class="col-sm-8">+998 90 123 45 67</dd>
      <dt class="col-sm-4">Tug'ilgan sana</dt>
      <dd class="col-sm-8">2000-01-01</dd>
      <dt class="col-sm-4">O'qish</dt>
      <dd class="col-sm-8">Toshkent Axborot Texnologiyalari Universiteti, 3-kurs</dd>
      <dt class="col-sm-4">Manzil</dt>
      <dd class="col-sm-8">Toshkent, Yunusobod tumani</dd>
      <dt class="col-sm-4">Passport</dt>
      <dd class="col-sm-8">AB1234567</dd>
      <dt class="col-sm-4">Jins</dt>
      <dd class="col-sm-8">Erkak</dd>
    </dl>
  </div>
{% endblock %}

{% block footer %}{% endblock  %}

  
  {% comment %} <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="./assets/js/lang.js"></script>
  <script src="./assets/js/profil.js"></script> {% endcomment %}

